<section class="w-full h-full flex items-center justify-center p-6 bg-gray-50">
  <app-card>
	<div card-header>
	 <h3 card-title>Payment</h3>
     <p card-description>Add your payment method to continue.</p>
     <button card-action class="btn btn-secondary focus-ring-primary-600">Manage</button>
	</div>


    <!-- body -->
    <div class="mt-2">
      <!-- form/content here -->
    </div>

    <div card-footer class="flex justify-end gap-2">
      <app-button [icon]="'false'" [iconName]="'circle-notch'" [iconStyle]="'duotone'" [text]="'Button CTA'" [size]="'lg'" [hierarchy]="'secondary'"></app-button>
      <button class="btn btn-primary">Save</button>
    </div>
  </app-card>
</section>