<section class="w-full h-full flex items-center justify-center p-6">
  <!-- <app-card>
	<div card-header>
	 <h3 card-title>Payment</h3>
     <p card-description>Add your payment method to continue.</p>
	</div>


    <div class="mt-2">
    </div>

    <div card-footer class="flex justify-end gap-2">
      <app-button [loading]="false" [icon]="'leading'" [iconName]="'circle-notch'" [iconStyle]="'duotone'" [text]="'Button CTA'" [size]="'lg'" [hierarchy]="'secondary'"></app-button>
    </div>
  </app-card>

  <app-button-groups (buttonClick)="onGroupClick($event)" [buttons]="groupedButtons" [size]="'lg'" [hierarchy]="'tertiary-gray'" [label]="'Button Group'"></app-button-groups> -->
<!-- 
  <app-input-field-base
    [inputType]="'base'"
    [baseInputType]="'leading-text'"
    [leadingTextValue]="'https://'"
    [trailingOptions]="countryOptions"
    [hintText]="'This is a hint text'"
    [isDestructive]="false"
    [placeholder]="'olivia@untitledui.com'"
    [label]="'Hello There'"
    [disabled]="true"
  ></app-input-field-base>


  <app-date-picker label="Start Date"
               type="date"
               formControlName="start_date"
               [required]="true"
               class="w-full">
             </app-date-picker> -->

             <app-time-picker
                          label="Start Time"
                          formControlName="start_time"
                          placeholder_two="Start at"
                          [required]="true">
                        </app-time-picker>

                        <button class="btn btn-primary" (click)="drawerOpen = true">Open drawer</button>

<app-drawer [(open)]="drawerOpen">
  <!-- drawer content -->
   Hello
</app-drawer>
</section>
