<section class="w-full h-full flex items-center justify-center p-6 bg-gray-50">
  <app-card>
	<div card-header>
	 <h3 card-title>Payment</h3>
     <p card-description>Add your payment method to continue.</p>
	</div>


    <div class="mt-2">
    </div>

    <div card-footer class="flex justify-end gap-2">
      <app-button [loading]="false" [icon]="'leading'" [iconName]="'circle-notch'" [iconStyle]="'duotone'" [text]="'Button CTA'" [size]="'lg'" [hierarchy]="'secondary'"></app-button>
    </div>
  </app-card>

  <app-button-groups (buttonClick)="onGroupClick($event)" [buttons]="groupedButtons" [size]="'lg'" [hierarchy]="'tertiary-gray'" [label]="'Button Group'"></app-button-groups>

</section>